{% extends "base.html" %}
 
{% block content %}
    <h1>{{ user_name }}</h1>
    {% if user_name == session['username'] %}
        <h5><a href="/profile/{{ user_name }}/edit">Edit Profile</a></h5>
    {% endif %}
    <h4>{{ user_name }}'s news</h4>
    {% for item in news %}
    <div class="alert alert-dark" role="alert">
        <h3>{{item[1]}}</h3>
        <h2>{{item[2]}}</h2>
        <h3>{{item[3]}}</h3>
        <div>{{ item[4]}}</div>
        <div>{{ item[5]}}</div>
        {% if user_name == session['username'] %}
            <a href="/delete_news/{{item[0]}}">Delete news</a>
        {% endif %}
    </div>
    {% endfor %}
    <h4>{{ user_name }}'s communities</h4>
    <div class="list-group">
    {% for item in communities %}
        <a href="/community/{{ item }}" class="list-group-item list-group-item-action">{{ item }}</a>
    {% endfor %}
    </div>
    {% if user_name == session['username'] %}
        <a href="/logout" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Log Out</a>
    {% endif %}
{% endblock %}